<!doctype html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body
  class="max-h-screen w-full bg-white bg-cover bg-no-repeat font-noto text-gray-600 dark:bg-gray-950 dark:text-gray-400 transition-colors duration-500">

  <header class="fixed left-12 md:left-16 right-0 top-0 z-1000 w-full rounded-tl-3xl bg-gray-200 dark:bg-gray-900">

    {{ partial "header.html" . }}

  </header>
  <main
    class="relative left-12 md:left-16 top-16 h-[calc(100vh-86px)] w-[calc(100%-3rem)] md:w-[calc(100%-4rem)] overflow-x-hidden overflow-y-auto overscroll-none">

    {{ partial "navleft.html" . }} {{ block "main" . }}{{ end }}
  </main>
  <footer
    class="fixed bottom-0 left-12 md:left-16 w-full bg-gray-200 py-2 pl-4 md:pl-12 dark:bg-gray-900 rounded-bl-3xl">
    <hr class="h-[1px] w-[80%] border text-center text-sm md:text-base border-gray-300 dark:border-gray-900" />

    {{ partial "footer.html" . }}
  </footer>

  <script>
    // Get all draggable elements
    const draggables = document.querySelectorAll('[id^="draggable-box-"]');

    // Add dragstart event listener to all draggable elements
    draggables.forEach(draggable => {
      draggable.addEventListener('dragstart', (e) => {
        e.dataTransfer.setData('text/plain', e.target.id);
      });
    });

    // Get the drop zone
    const dropZone = document.querySelector('.drop-zone');

    // Prevent default behavior to allow dropping
    dropZone.addEventListener('dragover', (e) => {
      e.preventDefault();
    });

    // Handle drop event
    dropZone.addEventListener('drop', (e) => {
      e.preventDefault();
      const id = e.dataTransfer.getData('text'); // Get the ID of the dragged element
      const draggableElement = document.getElementById(id); // Find the dragged element by ID
      dropZone.appendChild(draggableElement); // Append the dragged element to the drop zone
    });

  </script>


</body>

</html>