{{ define "main" }}


<div class="image-carousel blur-md h-1/2 w-[70%] opacity-10 filter grayscale absolute top-52 right-0 bg-cover">
  {{ range first 3 (sort (where .Site.RegularPages "Section" "news") "Date"
  "desc") }}
  {{ range .Params.images }}
  <img src="{{ . }}" alt="Image" class="carousel-image  object-cover w-full h-full" />
  {{ end }}

  {{ end }}

</div>




<div
  class="flex w-full h-fit flex-col items-center justify-start space-y-6 md:space-y-12 bg-gray-200  px-4 sm:px-6 lg:px-10 xl:px-12  pb-12  dark:bg-gray-900">

  <div id="jumbotron"
    class="flex flex-1 w-full h-auto flex-col lg:flex-row items-center justify-center py-0 lg:py-4 gap-y-4 lg:gap-y-8 lg:space-x-8">
    <div id="jumbotext"
      class="fadeup flex order-2 lg:order-1 w-full h-auto content-center lg:w-1/2 -translate-x-12 transform flex-col space-x-0 space-y-2 lg:space-y-4 opacity-0 transition duration-1000">
      <h2 class="text-[38px] md:text-[42px] leading-[3rem]  font-light uppercase md:leading-none ">Relive the
        Memories at
      </h2>
      <h2
        class="text-[48px] sm:text-[66px] xl:text-[74px]  leading-none md:leading-none font-bold uppercase text-yellow-500">
        {{ .Site.Title
        }}</h2>
      <p class="border-l border-yellow-500 pl-2 text-gray-600 dark:text-gray-600">
        Step into a classic atmosphere that takes you back in time. Here, casual
        conversations are paired with our finest coffee, creating unforgettable
        moments. Every cup of coffee we serve tells a story, and every event we
        host adds deeper meaning to your experience.
      </p>
      <a href="/products"
        class="group flex w-fit items-center rounded-full px-4 py-2 text-center text-lg font-bold uppercase shadow-lg  text-gray-950 hover:text-gray-950  bg-yellow-500 dark:bg-yellow-600 hover:bg-yellow-600 dark:hover:bg-yellow-500">
        Explore Our Coffee Selection
        <span class="material-symbols-outlined transition group-hover:translate-x-1">
          chevron_right
        </span>
      </a>
    </div>

    <div id="jumboimg"
      class="fadeup flex order-1 lg:order-2 translate-x-12 transform opacity-0 transition duration-1000 h-auto flex-1   items-center justify-center overflow-hidden rounded-3xl bg-gray-800">
      <div class="mx-auto w-full">
        <div class="flex [&:hover>div]:w-[10%] [&>div:hover]:w-[70%] ">
          {{ range first 4 (sort (where .Site.RegularPages "Section" "news") "Date" "desc") }}

          <!-- Link di luar range .Params.images -->
          <div
            class="group relative h-96 w-[70%] cursor-pointer overflow-hidden shadow-lg shadow-black/30 transition-all duration-200  odd:from-green-500/20 odd:to-black odd:hover:bg-gradient-to-b odd:hover:from-green-500/0 odd:hover:to-black even:from-red-500/20 even:to-black even:hover:bg-gradient-to-b even:hover:from-red-500/0 even:hover:to-black">
            {{ range .Params.images }}
            <img class="h-full object-cover transition-all group-hover:rotate-12 group-hover:scale-125" src="{{ . }}"
              alt="" />
            {{ end }}
            <a href="{{ .Permalink }}" class="">
              <div class=" absolute inset-0 bg-gradient-to-b w-full h-full">
                <div class="absolute inset-x-5 bottom-6">
                  <div class="flex gap-3 text-white">
                    <!-- Link judul -->
                    <h3
                      class="font-semibold text-lg pl-2 opacity-0 group-hover:opacity-100 group-hover:transition-opacity group-hover:ease-in group-hover:duration-1000 ease-out duration-[100ms] border-l border-yellow-500 text-gray-100  shadow-lg">
                      {{
                      .Params.title }}</h3>
                  </div>
                </div>
                <div class="flex justify-end gap-3 text-gray-200 bg-blue-400">
                  <!-- Icon SVG lainnya -->
                </div>
              </div>
            </a>
          </div>
          {{ end }}

        </div>
      </div>

    </div>

  </div>

  {{ $aboutPage := .Site.GetPage "about/about.md" }}
  <div id="aboutus"
    class="fadeup relative px-2 lg:px-12 bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5  flex  w-auto xl:w-[85%] translate-y-10 transform flex-col items-center justify-center rounded-xl p-4 opacity-0 ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400 backdrop-blur-md transition duration-1000 hover:-translate-y-4 hover:ring-1 hover:delay-0">
    <a href="#aboutus" class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $aboutPage.Params.title }}</h3>
      <h4 class="text-lg">{{ $aboutPage.Params.subtitle }}</h4>
    </a>

    <div class="text-center text-gray-600 dark:text-gray-600">
      {{ $aboutPage.Content }}
    </div>


  </div>

  {{ $newsPage := .Site.GetPage "news/_index.md" }}
  <div id="news"
    class="fadeup drop-zone relative bg-white dark:bg-gray-900 shadow-2xl shadow-black/5  flex w-auto xl:w-[90%] translate-y-10 transform flex-col items-center justify-center rounded-xl p-2 xl:p-4 backdrop-blur-md transition delay-1000 duration-1000  ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400 hover:-translate-y-4 hover:ring-1 hover:delay-0">
    <a href="/news" class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $newsPage.Params.title }}</h3>

      <h4 class="text-lg">{{ $newsPage.Params.subtitle }}</h4>
    </a>

    <div class="flex w-full flex-col space-y-4  rounded-xl">
      {{ range first 3 (sort (where .Site.RegularPages "Section" "news") "Date"
      "desc") }}
      <div draggable="true" id="draggable-box-{{ .File.Path | urlize }}"
        class="draggable cursor-grab hover:ring-yellow-400 group flex flex-col md:flex-row space-y-4 md:space-y-0 space-x-0 md:space-x-4 hover:ring-1 hover:delay-100 duration-1000 w-full md:items-start md:justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative h-44 md:h-32 lg:h-40 w-full md:w-[30%] lg:w-[20%] overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}
        </a>
        <div class="flex flex-col w-auto md:w-[80%]">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .LinkTitle }}</a>
          </h2>

          <p class="overflow-ellipsis text-gray-800 dark:text-gray-400">
            {{ .Summary }}
          </p>
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format ":date_long" }}
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </div>
      </div>

      {{ end }}
    </div>
  </div>


  {{ $productsPage := .Site.GetPage "products/_index.md" }}
  <div id="products"
    class="fadeup relative   bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5  flex  w-auto  translate-y-10 transform flex-col items-center justify-center rounded-xl p-2 xl:p-4 ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400 backdrop-blur-md transition delay-1000 duration-1000 hover:-translate-y-4 hover:ring-1 hover:delay-0">
    <a href="/products" class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $productsPage.Params.title }}</h3>

      <h4 class="text-lg">{{ $productsPage.Params.subtitle }}</h4>

      <div class="text-center text-gray-600 dark:text-gray-600"> {{ $productsPage.Content }}
      </div>
    </a>

    <div class="flex w-full h-auto flex-col md:flex-row space-y-4 md:space-y-0 space-x-0 md:space-x-4 rounded-xl">

      <!-- Produk Hotdrink -->
      {{ $hotdrink := first 1 (sort (where .Site.RegularPages "Params.category" "intersect" (slice "hotdrink")) "Date"
      "desc") }}
      {{ range $hotdrink }}
      <div
        class=" hover:ring-yellow-400  hover:ring-1 hover:delay-100 group duration-1000 w-full flex-1 flex flex-col items-start justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative  h-60 w-full overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}
        </a>
        <div class="flex flex-col">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .Title }}</a>
          </h2>

          <!-- Price and Discount -->
          <p class="text-gray-800 dark:text-gray-400">
            Price: {{ .Params.price }}
          </p>

        </div>
      </div>
      {{ end }}

      <!-- Produk Cooldrink -->
      {{ $cooldrink := first 1 (sort (where .Site.RegularPages "Params.category" "intersect" (slice "cooldrink"))
      "Date"
      "desc") }}
      {{ range $cooldrink }}
      <div
        class=" hover:ring-yellow-400  hover:ring-1 hover:delay-100 group duration-1000 w-full flex-1 flex flex-col items-start justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative  h-60 w-full overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}
        </a>
        <div class="flex flex-col">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .Title }}</a>
          </h2>

          <!-- Price and Discount -->
          <p class="text-gray-800 dark:text-gray-400">
            Price: {{ .Params.price }}
          </p>

        </div>
      </div>
      {{ end }}

      <!-- Produk Food -->
      {{ $food := first 1 (sort (where .Site.RegularPages "Params.category" "intersect" (slice "food")) "Date" "desc")
      }}
      {{ range $food }}
      <div
        class=" hover:ring-yellow-400  hover:ring-1 hover:delay-100 group duration-1000 w-full flex-1 flex flex-col items-start justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative  h-60 w-full overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}
        </a>
        <div class="flex flex-col">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .Title }}</a>
          </h2>

          <!-- Price and Discount -->
          <p class="text-gray-800 dark:text-gray-400">
            Price: {{ .Params.price }}
          </p>

        </div>
      </div>
      {{ end }}

    </div>
  </div>

  {{ $promotionsPage := .Site.GetPage "products/_promotions.md" }}
  <div id="promotions"
    class="fadeup relative   bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5  flex  w-auto  translate-y-10 transform flex-col items-center justify-center rounded-xl p-2 xl:p-4 ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400 backdrop-blur-md transition delay-1000 duration-1000 hover:-translate-y-4 hover:ring-1 hover:delay-0">
    <a href="/products" class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $promotionsPage.Params.title }} </h3>
      <h4 class="text-lg">{{ $promotionsPage.Params.subtitle }}</h4>
      <div class="text-center text-gray-600 dark:text-gray-600">
        {{ $promotionsPage.Content }}
      </div>
    </a>

    <div class="flex w-full flex-col md:flex-row space-y-4 md:space-y-0 space-x-0 md:space-x-4 rounded-xl">

      <!-- Produk Hotdrink dengan Diskon Tertinggi -->
      {{ $hotdrink := first 1 (sort (where (where .Site.RegularPages "Params.category" "intersect" (slice "hotdrink"))
      "Params.discount" "ne" nil) "Params.discount" "desc") }}
      {{ range $hotdrink }}

      <div
        class=" hover:ring-yellow-400 hover:ring-1 hover:delay-100 group duration-1000 w-full flex-1 flex flex-col items-start justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative h-60 w-full overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}

          <p class="text-pink-500 absolute font-bold text-3xl">
            Discount: {{ .Params.discount }}
          </p>
        </a>
        <div class="flex flex-col">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .Title }}</a>
          </h2>
          <p class="text-gray-800 dark:text-gray-400">
            Price: {{ .Params.price }}
          </p>
          <div class="absolute -top-2 right-2 text-red-700 flex justify-center items-center">
            <svg class="relative" xmlns="http://www.w3.org/2000/svg" width="6em" height="6em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3z" />

            </svg>
            <h2
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-black text-xl">
              {{ .Params.discount }}
            </h2>
          </div>
        </div>
      </div>
      {{ end }}

      <!-- Produk Cooldrink dengan Discount -->
      {{ $cooldrink := first 1 (sort (where (where .Site.RegularPages "Params.category" "intersect" (slice
      "cooldrink"))
      "Params.discount" "ne" nil) "Params.discount" "desc") }}
      {{ range $cooldrink }}


      <div
        class=" hover:ring-yellow-400 hover:ring-1 hover:delay-100 group duration-1000 w-full flex-1 flex flex-col items-start justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative h-60 w-full overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}
        </a>
        <div class="flex flex-col">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .Title }}</a>
          </h2>
          <p class="text-gray-800 dark:text-gray-400">
            Price: {{ .Params.price }}
          </p>
          <div class="absolute -top-2 right-2 text-red-700 flex justify-center items-center">
            <svg class="relative" xmlns="http://www.w3.org/2000/svg" width="6em" height="6em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3z" />

            </svg>
            <h2
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-black text-xl">
              {{ .Params.discount }}
            </h2>
          </div>
        </div>
      </div>
      {{ end }}

      <!-- Produk Food dengan Discount -->
      {{ $food := first 1 (sort (where (where .Site.RegularPages "Params.category" "intersect" (slice "food"))
      "Params.discount" "ne" nil) "Params.discount" "desc") }}
      {{ range $food }}

      <div
        class=" hover:ring-yellow-400 hover:ring-1 hover:delay-100 group duration-1000 w-full flex-1 flex flex-col items-start justify-start rounded-xl p-2 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <a href="{{ .RelPermalink }}"
          class="relative h-60 w-full overflow-hidden opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 ">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
          {{ end }}
        </a>
        <div class="flex flex-col">
          <h2 class="text-lg text-gray-500">
            <a href="{{ .RelPermalink }}" class="group-hover:text-yellow-500">{{ .Title }}</a>
          </h2>
          <p class="text-gray-800 dark:text-gray-400">
            Price: {{ .Params.price }}
          </p>
          <div class="absolute -top-2 right-2 text-red-700 flex justify-center items-center">
            <svg class="relative" xmlns="http://www.w3.org/2000/svg" width="6em" height="6em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3z" />

            </svg>
            <h2
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-black text-xl">
              {{ .Params.discount }}
            </h2>
          </div>
        </div>
      </div>
      {{ end }}

    </div>
  </div>


  {{ $testimonialsPage := .Site.GetPage "testimonials/_index.md" }}
  <div id="testimonial"
    class="fadeup relative   bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5  space-y-20 flex w-auto translate-y-10 transform flex-col items-center justify-center rounded-xl p-2 ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400 backdrop-blur-md transition delay-1000 duration-1000 hover:-translate-y-4 hover:ring-1 hover:delay-0 ">
    <div class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $testimonialsPage.Params.title }}</h3>
      <h4 class="text-lg">{{ $testimonialsPage.Params.subtitle }} <span class="font-bold text-yellow-500">{{ .Site.Title
          }}</span>
      </h4>
    </div>
    <div id="testimonial-wrapper"
      class="flex flex-col lg:flex-row gap-y-20 lg:gap-x-2  w-full h-full lg:h-[340px] justify-between items-center content-center rounded-xl">
      {{ range first 6 (shuffle (where .Site.RegularPages "Section" "testimonials")) }}
      <div
        class="testimonial-item group items-center flex  pb-12 lg:pt-12 px-3 justify-around w-full h-full rounded-xl  backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <div
          class="p-2 shadow-xl bg-white opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000 absolute -top-16 dark:bg-gray-800 rounded-full flex items-center justify-center overflow-hidden">
          {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="First image" class="h-40 w-40 rounded-full object-cover" />
          {{ end }}
        </div>
        <div class="flex flex-col space-y-2 justify-start items-center text-center w-full h-full mt-36">
          <svg class="h-12 mx-auto mt-2 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
              fill="currentColor" />
          </svg>
          <blockquote class="text-gray-600 dark:text-gray-600 w-full font-light relative -top-4 mb-6">
            {{ .Content }}
          </blockquote>
          <figcaption class="flex items-center justify-center space-x-3">
            <div class="flex items-center justify-center divide-x-2 divide-gray-500 dark:divide-gray-700">
              <div class="pr-3 text-sm font-medium text-gray-800 dark:text-gray-300">{{ .Params.name }}</div>
              <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-500">{{ .Params.job }}</div>
            </div>
          </figcaption>
        </div>

      </div>
      {{ end }}
    </div>
  </div>

  {{ $galleryPage := .Site.GetPage "gallery/_index.md" }}
  <div id="gallery"
    class="fadeup relative   bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5  space-y-6 flex w-fit h-fit translate-y-10 transform flex-col items-center justify-center rounded-xl p-2 xl:p-4 ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400 backdrop-blur-md transition delay-1000 duration-1000 hover:-translate-y-4 hover:ring-1 hover:delay-0">
    <div class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $galleryPage.Params.title }}</h3>
      <h4 class="text-lg">{{ $galleryPage.Params.subtitle }}</h4>
      <div class="text-center text-gray-600 dark:text-gray-600">
        {{ $galleryPage.Content }}
      </div>
    </div>
    <!-- Carousel wrapper -->


    <div
      class="relative grid grid-cols-2  lg:grid-cols-4 grid-flow-row-dense gap-2 w-full h-full overflow-hidden rounded-lg [&>*:nth-child(1)]:col-span-2 [&>*:nth-child(6)]:col-span-2 [&>*:nth-child(8)]:col-span-2 [&>*:nth-child(10)]:col-span-2 [&>*:nth-child(15)]:col-span-2 [&>*:nth-child(17)]:col-span-2 [&>*]:backdrop-blur-md [&>*]:bg-white/10 dark:[&>*]:bg-gray-800/20">

      {{ $news := where .Site.RegularPages "Type" "news" }}
      {{ $cooldrink := where .Site.RegularPages "Type" "cooldrink" }}
      {{ $hotdrink := where .Site.RegularPages "Type" "hotdrink" }}
      {{ $food := where .Site.RegularPages "Type" "food" }}

      {{ $combined := union $news (union $cooldrink (union $hotdrink $food)) }}
      {{ range first 12 (sort $combined "Date" "desc") }}
      <div class="bg-cover p-2 overflow-hidden w-full h-52 rounded-md group">
        <a href="{{ .Permalink }}"> <img src="{{ with .Params.images }}{{ index . 0 }}{{ end }}"
            class="rounded-md overflow-hidden w-full h-full object-cover opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-1000"
            alt="{{ .Title }}">
      </div></a>
      {{ end }}
    </div>







  </div>

  {{ $locationPage := .Site.GetPage "location/_index.md" }}
  <div id="location"
    class="fadeup relative  bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5 space-y-6 flex w-auto   transform flex-col items-center justify-center rounded-xl p-2 xl:p-4 backdrop-blur-md transition delay-1000 duration-1000 hover:-translate-y-4 hover:ring-1  ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400  hover:delay-0 opacity-100 translate-y-0 translate-x-0">
    <div class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $locationPage.Params.title }}</h3>
      <h4 class="text-lg">{{ $locationPage.Params.subtitle}}</h4>
      <div class="text-center text-gray-600 dark:text-gray-600">
        {{ $locationPage.Content }}
      </div>
    </div>


    <div id=""
      class="flex flex-row   gap-x-2  w-full h-full lg:h-[350px] justify-between items-center content-center rounded-xl">

      <div
        class="group items-start flex flex-col  lg:flex-row space-y-4 lg:space-y-0 space-x-0 lg:space-x-12 p-2   w-full h-full rounded-xl  backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">

        <div class="flex flex-col p-2 space-y-4 w-full lg:w-[30%] h-full">
          {{ range $locationPage.Params.location }}
          <div class="flex space-x-2"> <span class="material-symbols-rounded">local_cafe</span>
            <p>{{ .address }} <br>
              {{ .city }}, {{ .country }} <br>
              {{ .postal_code }}</p>
          </div>
          <div class="flex space-x-2"> <span class="material-symbols-rounded">phone</span>
            <p> <a href="tel:{{ .phone }}" class="hover:text-yellow-500">{{ .phone }}</a></p>
          </div>
          <div class="flex space-x-2"> <span class="material-symbols-rounded">email</span>
            <p> <a href="mailto:{{ .email }}" class="hover:text-yellow-500">{{ .email }}</a></p>
          </div>
          {{ end }}
        </div>
        <div class="flex flex-col space-y-4 w-auto h-full bg-cover rounded-2xl overflow-hidden">
          <img src="/images/googlemaps.png" class="object-none md:object-cover" alt="">
        </div>

      </div>


    </div>


  </div>
  {{ $contactPage := .Site.GetPage "contact/_index.html" }}
  <div id="contactus"
    class="fadeup relative  bg-white dark:bg-gray-900 shadow-2xl  shadow-black/5 space-y-6 flex w-auto  transform flex-col items-center justify-center rounded-xl p-2 xl:p-4 backdrop-blur-md transition delay-1000 duration-1000 hover:-translate-y-4 hover:ring-1  ring-gray-100 dark:ring-gray-800 ring-1  hover:ring-yellow-400  hover:delay-0 opacity-100 translate-y-0 translate-x-0">
    <div class="mb-2 text-center">
      <h3 class="text-3xl font-bold">{{ $contactPage.Params.title }}</h3>
      <h4 class="text-lg">{{ $contactPage.Params.subtitle }}</h4>
      <div class="text-center text-gray-600 dark:text-gray-600">{{ $contactPage.Content }}
      </div>
    </div>


    <div id="" class="flex flex-row   gap-x-2  w-full h-auto justify-center items-center content-center rounded-xl">

      <div
        class=" items-center flex flex-col lg:flex-row space-x-0 lg:space-x-6 space-y-4 lg:space-y-0 p-2  w-full h-full rounded-xl  backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-gray-800/20 dark:even:bg-gray-800/30">
        <div class="flex flex-col w-full lg:w-1/2 h-full  bg-cover  rounded-2xl overflow-hidden">
          <img src="/images/contactus.jpg" alt="" class="object-fill w-full h-full">
        </div>
        <form class="flex flex-col p-0 lg:p-2 space-y-4 w-full lg:w-[50%] h-full">
          <label class="relative block">
            <span class="sr-only">Name</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <span class="material-symbols-rounded">person</span>
            </span>
            <input
              class="placeholder:italic  placeholder:text-gray-600 border-gray-500 dark:border-gray-700 block bg-gray-100 dark:bg-gray-800  w-full rounded-md py-2 pl-10 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 "
              placeholder="Your name" type="text" name="search" />
          </label>

          <label class="relative block">
            <span class="sr-only">Email</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <span class="material-symbols-rounded">email</span>
            </span>
            <input
              class="placeholder:italic  placeholder:text-gray-600 border-gray-500 dark:border-gray-700 block bg-gray-100 dark:bg-gray-800  w-full rounded-md py-2 pl-10 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 "
              placeholder="email@example.com" type="email" name="email" />
          </label>
          <label class="relative block">
            <span class="sr-only">Message</span>

            <textarea
              class="placeholder:italic  placeholder:text-gray-600 border-gray-500 dark:border-gray-700 block bg-gray-100 dark:bg-gray-800  w-full rounded-md py-2 pl-4 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 "
              placeholder="Message..." type="text" name="message"></textarea> </label>
          <button
            class=" group flex w-full items-center justify-center rounded-md px-4 py-2 text-center text-lg font-bold  shadow-lg  text-gray-950 hover:text-gray-950  bg-yellow-500 dark:bg-yellow-600 hover:bg-yellow-600 dark:hover:bg-yellow-500">
            Send Message

          </button>


        </form>


      </div>


    </div>


  </div>




</div>



{{ end }}