{{ define "main" }}

<div
    class="flex h-fit w-full flex-col items-center justify-start space-y-6 bg-gray-200 px-4 pb-12 transition-colors duration-1000 dark:bg-gray-900 sm:px-6 md:space-y-12 lg:px-10 xl:px-12">
    <div class="flex w-full flex-col items-center justify-center space-y-2 text-center">
        <h1 class="text-4xl font-black">{{ .Title }}</h1>
        {{ .Content }}

        {{ range .Pages }}
        <div class="item">
            <img src="{{ index .Params.images 0 }}" alt="Product Image" />
            <h2 class="text-lg text-gray-600 group-hover:text-yellow-500"><a href="{{ .RelPermalink }}">{{ .LinkTitle
                    }}</a></h2>
            <p>{{ .Summary }}</p>

            {{ with .Params.categories }}
            <p>Categories: {{ delimit . ", " }}</p>
            {{ end }}

            {{ with .Params.price }}
            <p>Price: {{ . }}</p>
            {{ end }}

            {{ with .Params.discount }}
            <p>Discount: {{ . }}</p>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>

{{ end }}