{{ define "main" }}
<div
    class="absolute top-32 blur-3xl opacity-70 dark:opacity-40 flex w-full flex-col items-center justify-center space-y-2 text-center">
    {{ if eq .Section "products" }}

    <!-- Menampilkan item paling baru dari produk -->
    {{ $newestProduct := first 1 .Pages }}
    {{ range $newestProduct }}
    <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}"
        class="flex cursor-pointer h-[500px] w-full flex-col items-center overflow-hidden rounded-xl backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-neutral-800/20 dark:even:bg-neutral-800/30">
        <div class="relative h-full w-full overflow-hidden">
            {{ if .Params.images }}
            <img src="{{ index .Params.images 0 }}" alt="First image" class="h-full w-full rounded-xl object-cover" />
            {{ else }}
            <img src="/images/default.webp" alt="Default image" class="h-full w-full rounded-xl object-cover" />
            {{ end }}
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>

<div
    class="flex h-fit w-full  flex-col items-center justify-start space-y-6 bg-neutral-200 px-4 pb-12 transition-colors duration-1000 dark:bg-neutral-900 sm:px-6 md:space-y-6 lg:px-10 xl:px-12">

    <div class="flex z-10 w-full flex-col items-center justify-center space-y-2 text-center">
        {{ if eq .Section "products" }}
        <h1 class="text-4xl font-black">{{ .Title }}</h1>
        {{ if .Params.subtitle }}
        <h4 class="text-lg">{{ .Params.subtitle }}</h4>
        {{ else if .Params.summary }}
        <p class="text-center text-neutral-700 dark:text-neutral-400">{{ .Params.summary }}</p>
        {{ else if .Params.description }}
        <p class="text-center text-neutral-700 dark:text-neutral-400">{{ .Params.description }}</p>
        {{ end }}

        <div class="text-center text-neutral-700 dark:text-neutral-400">{{ .Content }}</div>
        <div class="flex flex-col gap-y-4 w-full">
            <div
                class="flex w-full flex-col items-center justify-center p-2 sm:p-4 space-y-2 rounded-xl backdrop-blur-md bg-white shadow-2xl shadow-black/5 ring-1 ring-neutral-300 transition-all duration-1000 hover:ring-1 dark:bg-neutral-900 dark:ring-neutral-800">
                <div class="w-full text-center">
                    {{ $hotdrinkIndex := .Site.GetPage "products/hotdrink/_index.md" }}
                    <h2 class="text-2xl font-bold">{{ $hotdrinkIndex.Title }}</h2>
                </div>

                <div
                    class="flex flex-col sm:flex-row w-full h-[500px] sm:h-fit overflow-style-y overflow-y-auto snap-y overscroll-y-auto sm:overflow-style-x sm:overflow-x-auto sm:snap-x sm:overscroll-x-auto snap-mandatory gap-y-2 sm:gap-x-4 p-2 sm:p-4 backdrop-blur-md">

                    {{ $currentPage := .RelPermalink }}

                    {{ $hotdrink := (sort (where .Site.RegularPages "Params.categories" "intersect" (slice "hotdrink"))
                    "Date" "desc") }}

                    {{ range $hotdrink }}

                    {{ if eq .Params.stock "Available" }}
                    {{ if not (or (eq (slice $currentPage 0 22) "/products/cooldrink") (eq (slice $currentPage 0 19)
                    "/products/food")) }}
                    <div
                        class="group flex-shrink-0 w-full sm:w-[250px] snap-center flex flex-col items-start justify-start rounded-xl p-2 ring-1 ring-neutral-300 backdrop-blur-md duration-1000 odd:bg-white/20 even:odd:bg-white/30 hover:ring-1 hover:ring-yellow-400 hover:delay-100 dark:ring-neutral-800 dark:odd:bg-neutral-800/20 dark:even:bg-neutral-800/30 hover:dark:ring-yellow-400">
                        <a href="{{ .RelPermalink }}"
                            class="relative h-60 w-full overflow-hidden opacity-100 transition-opacity duration-1000 md:opacity-80 md:dark:opacity-70 group-hover:opacity-100">
                            {{ with .Params.images }}
                            <img src="{{ index . 0 }}" alt="First image"
                                class="h-full w-full rounded-md object-cover" />
                            {{ end }}
                        </a>
                        <div class="flex flex-col w-full items-start">
                            <h2 class="text-lg text-neutral-500">
                                <a href="{{ .RelPermalink }}"
                                    class="group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{ .Title
                                    }}</a>
                            </h2>
                            <p class="text-green-500">{{ .Params.stock }}</p>

                            {{ if .Params.free_shipping }}
                            <p>{{ .Params.free_shipping }}</p>
                            {{ else }}
                            <p class="invisible">Placeholder text</p>
                            {{ end }}

                            <!-- Price and Discount -->
                            <a href="https://wa.me/62895605958708?text=Hello,%20I%20am%20interested%20in%20your%20product%20{{ urlize .Title }}%20https://wahidhasyim02.github.io{{ .RelPermalink | urlize }}"
                                target="noopener"
                                class="group flex w-full items-center justify-between rounded-md bg-yellow-500 px-4 py-2 text-center text-lg text-neutral-950 shadow-lg hover:bg-yellow-600 hover:text-neutral-950 dark:bg-yellow-600 dark:hover:bg-yellow-500">
                                Buy
                                <p class="font-bold">{{ .Params.price }}</p>
                            </a>

                            {{ if .Params.discount }}
                            <div class="absolute -top-2 right-2 flex items-center justify-center text-red-700">
                                <svg class="relative" xmlns="http://www.w3.org/2000/svg" width="6em" height="6em"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3z" />
                                </svg>
                                <h2
                                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform text-xl font-black text-white">
                                    {{ .Params.discount }}
                                </h2>
                            </div>
                            {{ else }}
                            <div class="hidden"></div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                    {{ else }}
                    <!-- Produk Tidak Tersedia -->
                    <div
                        class="group flex-shrink-0 w-full sm:w-[250px] snap-center flex flex-col items-start justify-start rounded-xl p-2 ring-1 ring-neutral-300 backdrop-blur-md duration-1000 odd:bg-white/20 even:odd:bg-white/30 hover:ring-1 hover:ring-yellow-400 hover:delay-100 dark:ring-neutral-800 dark:odd:bg-neutral-800/20 dark:even:bg-neutral-800/30 hover:dark:ring-yellow-400">
                        <a href="{{ .RelPermalink }}"
                            class="relative h-60 w-full overflow-hidden opacity-100 transition-opacity duration-1000 md:opacity-80 md:dark:opacity-70 group-hover:opacity-100">
                            {{ with .Params.images }}
                            <img src="{{ index . 0 }}" alt="First image"
                                class="h-full w-full rounded-md object-cover grayscale" />
                            {{ end }}
                        </a>
                        <div class="flex flex-col w-full items-start">
                            <h2 class="text-lg text-neutral-500">
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h2>
                            <p class="text-red-500">{{ .Params.stock }}</p>

                            {{ if .Params.free_shipping }}
                            <p>{{ .Params.free_shipping }}</p>
                            {{ else }}
                            <p class="invisible">Placeholder text</p>
                            {{ end }}

                            <!-- Price and Discount -->
                            <a href="https://wa.me/62895605958708?text=Hello,%20I%20am%20interested%20in%20your%20product%20{{ urlize .Title }}%20https://wahidhasyim02.github.io{{ .RelPermalink | urlize }}"
                                target="noopener"
                                class="group flex w-full items-center justify-between rounded-md bg-yellow-500 px-4 py-2 text-center text-lg text-neutral-950 shadow-lg hover:bg-yellow-600 hover:text-neutral-950 dark:bg-yellow-600 dark:hover:bg-yellow-500">
                                Buy
                                <p class="font-bold">{{ .Params.price }}</p>
                            </a>

                            {{ if .Params.discount }}
                            <div class="absolute -top-2 right-2 flex items-center justify-center text-red-700">
                                <svg class="relative" xmlns="http://www.w3.org/2000/svg" width="6em" height="6em"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3z" />
                                </svg>
                                <h2
                                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform text-xl font-black text-white">
                                    {{ .Params.discount }}
                                </h2>
                            </div>
                            {{ else }}
                            <div class="hidden"></div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}