<div
  class="flex h-16 w-custom-width content-center items-center justify-between rounded-tl-3xl px-4 text-neutral-500 sm:px-6 lg:px-10 xl:px-12">
  <a href="/" class="group  z-20 flex items-center space-x-2">
    <img id="logo-seduhrasa" src="/images/favicon.png" class="h-8 w-auto" alt="logo-seduhrasa" />
    <h1 class="hidden font-dosis text-2xl font-bold hover:text-neutral-950 dark:hover:text-neutral-400 md:flex">
      {{ site.Title }}
    </h1>
  </a>

  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>