<div
  class="fade opacity-0 transition-opacity ease-in-out duration-[4000ms] fixed left-0 top-0 flex h-full w-12 flex-col items-center justify-center md:w-16">
  <nav
    class="flex flex-col divide-y divide-neutral-400 dark:divide-neutral-800 transition-colors  duration-1000  justify-center items-center">
    <ul class="flex flex-col gap-y-4 py-8">
      {{ range .Site.Menus.left }}
      <li class="group flex items-center justify-center">
        <a href="{{ .URL }}" title="{{ .Name }}">
          {{ with .Params.svg }}
          <!-- Gunakan SVG jika ada -->
          <span class="transition-colors duration-1000 group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{
            . | safeHTML }}</span>
          {{ else }}
          <!-- Gunakan ikon jika SVG tidak ada -->
          <span
            class="material-symbols-rounded transition-all duration-1000 group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{
            .Params.icon
            }}</span>
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>


    <ul class="flex flex-col gap-y-4 py-8">
      {{ range .Site.Menus.socialmedia }}
      <li class="group flex items-center justify-center">
        <a href="{{ .URL }}" title="{{ .Name }}" target="_blank">
          {{ with .Params.svg }}
          <!-- Gunakan SVG jika ada -->
          <span class="transition-all duration-1000 group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{ . |
            safeHTML }}</span>
          {{ else }}
          <!-- Gunakan ikon jika SVG tidak ada -->
          <span
            class="material-icons transition-all duration-1000 group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{
            .Params.icon
            }}</span>
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>


    <ul class="flex flex-col gap-y-4 py-8">
      {{ range .Site.Menus.setting }}
      <li class="group flex items-center justify-center">
        <a href="{{ .URL }}" title="{{ .Name }}">
          {{ with .Params.svg }}
          <!-- Gunakan SVG jika ada -->
          <span class="transition-all duration-1000 group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{ . |
            safeHTML }}</span>
          {{ else }}
          <!-- Gunakan ikon jika SVG tidak ada -->
          <span
            class="material-icons transition-all duration-1000 group-hover:text-yellow-600 dark:group-hover:text-yellow-500">{{
            .Params.icon
            }}</span>
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>