{{ define "main" }}

<div
  class="flex h-fit w-full flex-col items-center justify-start space-y-6 bg-neutral-200 px-4 pb-12 transition-colors duration-1000 dark:bg-neutral-900 sm:px-6 md:space-y-6 lg:px-10 xl:px-12">
  <div class="flex w-full flex-col items-center justify-center space-y-2 text-center">
    {{ if eq .Section "news" }}
    <!-- Bagian ini hanya akan muncul di halaman /posts/ -->
    <h1 class="text-4xl font-black">{{ .Section | title }}</h1>
    {{ if .Params.subtitle }}
    <h4 class="text-lg">{{ .Params.subtitle }}</h4>
    {{ else if .Params.summary }}
    <p class="text-center text-neutral-600 dark:text-neutral-600">{{ .Params.summary }}</p>
    {{ else if .Params.description }}
    <p class="text-center text-neutral-600 dark:text-neutral-600">{{ .Params.description }}</p>
    {{ end }}

    <div class="text-center text-neutral-600 dark:text-neutral-600">{{ .Content }}</div>

    {{ else if eq .Section "tags" }}
    <!-- Bagian ini hanya akan muncul di halaman /tags/ -->
    <h1 class="text-4xl font-black">{{ .Title }}</h1>
    <p>{{ .Description }}</p>

    {{ else }}
    <!-- Bagian ini akan muncul di halaman section lain (selain /posts/ dan /tags/) -->
    <h1 class="text-4xl font-black">{{ .Title }}</h1>
    {{ if .Params.subtitle }}
    <p>{{ .Params.subtitle }}</p>
    {{ else if .Params.summary }}
    <p>{{ .Params.summary }}</p>
    {{ else if .Params.description }}
    <p>{{ .Params.description }}</p>
    {{ end }}

    <div>{{ .Content }}</div>
    {{ end }}
  </div>

  <div class="flex flex-col gap-y-4">
    {{ range .Paginator.Pages }}
    <div
      class="flex w-full flex-col sm:flex-row items-center rounded-xl p-2 sm:p-4 backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-neutral-800/20 dark:even:bg-neutral-800/30">
      <a href="{{ .RelPermalink }}" class="relative mr-0 sm:mr-6 h-full w-full sm:w-[70%] overflow-hidden">
        {{ if .Params.images }}
        <img src="{{ index .Params.images 0 }}" alt="First image" class="h-full w-full rounded-md object-cover" />
        {{ else }}
        <img src="/images/default.jpg" alt="Default image" class="h-full w-full rounded-md object-cover" />
        {{ end }}
      </a>
      <div class="group w-full sm:w-[30%] space-y-2">
        <h2 class="text-lg text-neutral-600 group-hover:text-yellow-500">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <div class="flex items-center justify-start space-x-2">
          <img src="{{ .Params.author_photo }}"
            class="h-8 w-8 ring-2 ring-offset-2 ring-neutral-300 dark:ring-neutral-700 bg-white dark:bg-neutral-800 rounded-full object-cover"
            alt="{{ .Params.author }}" />
          <div class="flex divide-x divide-neutral-500 text-sm text-neutral-600 dark:divide-neutral-700">
            <div class="pr-2 text-neutral-800 dark:text-neutral-400">
              {{ .Params.author }}
            </div>
            <!-- Versi untuk desktop -->
            <div class="hidden md:block">
              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+07:00" }}
              {{ $dateHuman := .Date | time.Format "Monday, 02 January 2006 - 03.04 PM" }}
              <time class="pl-2" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </div>

            <!-- Versi untuk mobile -->
            <div class="block md:hidden">
              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+07:00" }}
              {{ $dateHuman := .Date | time.Format ":date_long" }}
              <time class="pl-2" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </div>

          </div>
        </div>
      </div>

      <p class="overflow-ellipsis text-neutral-800 dark:text-neutral-400">
        {{ .Summary }}
        <a href="{{ .RelPermalink }}" class="mx-2 text-yellow-400 hover:text-yellow-500">Read More</a>
      </p>
    </div>
  </div>
  {{ end }}
</div>
</div>
{{ end }}