{{ define "main" }}
<div
  class="flex h-fit w-full flex-col items-center justify-start space-y-6 bg-neutral-200 px-4 pb-12 transition-colors duration-1000 dark:bg-neutral-900 sm:px-6 md:space-y-6 lg:px-10 xl:px-12">
  <div class="flex w-full flex-col items-center justify-center space-y-2 text-center">
    {{ if eq .Section "news" }}
    <h1 class="text-4xl font-black">{{ .Section | title }}</h1>
    {{ if .Params.subtitle }}
    <h4 class="text-lg">{{ .Params.subtitle }}</h4>
    {{ else if .Params.summary }}
    <p class="text-center text-neutral-600 dark:text-neutral-600">{{ .Params.summary }}</p>
    {{ else if .Params.description }}
    <p class="text-center text-neutral-600 dark:text-neutral-600">{{ .Params.description }}</p>
    {{ end }}

    <div class="text-center text-neutral-600 dark:text-neutral-600">{{ .Content }}</div>

    <!-- Menampilkan item paling baru -->
    {{ $newestPost := first 1 .Paginator.Pages }}
    {{ range $newestPost }}
    <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}"
      class="flex cursor-pointer h-[500px] w-full flex-col items-center overflow-hidden rounded-xl backdrop-blur-md odd:bg-white/10 even:bg-white/20 dark:odd:bg-neutral-800/20 dark:even:bg-neutral-800/30">
      <div class="relative h-full w-full overflow-hidden">
        {{ if .Params.images }}
        <img src="{{ index .Params.images 0 }}" alt="First image" class="h-full w-full rounded-xl object-cover" />
        {{ else }}
        <img src="/images/default.jpg" alt="Default image" class="h-full w-full rounded-xl object-cover" />
        {{ end }}
        <div class="absolute bottom-0 h-full w-full bg-gradient-to-b from-black/0 to-black">
          <h1
            class="border-l absolute bottom-10 left-4 sm:left-10 border-yellow-500 pl-2 text-4xl text-left font-semibold text-neutral-100 shadow-lg duration-[100ms] ease-out group-hover:opacity-100 group-hover:transition-opacity group-hover:duration-1000 group-hover:ease-in">
            {{ .LinkTitle }}
          </h1>
        </div>
      </div>
    </a>
  </div>
  <div
    class="my-4 flex flex-col gap-y-4 lg:flex-row font-normal p-2 sm:p-4 divide-y divide-x-0 md:divide-x md:divide-y-0  divide-neutral-400 dark:divide-neutral-800 transition-colors duration-1000  rounded-md border border-neutral-400  dark:border-neutral-700/40">
    <div
      class="w-full p-2 pr-4 md:w-[70%] h-fit md:h-[800px] overflow-style overflow-y-auto  overscroll-auto  [&>p]:leading-10 [&>p]:indent-0 sm:[&>p]:indent-20 ">

      <div class="space-y-4 py-2">
        {{ $currentPage := . }}
        <!-- Mengambil semua berita yang bukan item saat ini -->
        {{ $otherNews := where .Site.RegularPages "Type" "news" }}
        {{ $filteredNews := where $otherNews "Permalink" "ne" $currentPage.Permalink }}

        {{ if $filteredNews }}
        {{ range $filteredNews }}
        <div class="flex flex-col lg:flex-row gap-2 w-full h-fit items-start justify-start">
          <a href="{{ .RelPermalink }}" class="w-full lg:w-[40%] h-[200px] md:h-[180px] lg:h-[160px] bg-cover">
            <!-- Menampilkan gambar jika ada -->
            {{ if .Params.images }} {{ with index .Params.images 0 }}
            <!-- Menampilkan gambar pertama jika ada beberapa gambar -->
            <img src="{{ . }}" alt="img-{{ $.Title }}" class="h-full w-full  rounded object-cover" />
            {{ else }}
            <!-- Jika array gambar tidak memiliki item, gambar default akan ditampilkan -->
            <img src="/images/default.jpg" alt="Gambar Default" class="h-full w-full rounded object-cover" />
            {{ end }} {{ else }}
            <!-- Jika tidak ada gambar di Params.images, gambar default ditampilkan -->
            <img src="/images/default.jpg" alt="Gambar Default" class="h-full w-full rounded object-cover" />
            {{ end }}
          </a>
          <div class="w-full lg:w-[60%] h-fit md:h-[100px] group">
            <a href="{{ .RelPermalink }}"
              class="text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 dark:hover:text-neutral-200">
              <!-- Menampilkan semua kata untuk ukuran mobile hingga md -->
              <h4 class="font-semibold w-full group-hover:text-yellow-500">
                {{ .Title }}
              </h4>
              {{ .Summary | truncate 110 }}<a href="{{ .RelPermalink }}"
                class="mx-2 text-yellow-400 hover:text-yellow-500">Read
                More</a>

            </a>
            <div class="flex items-center justify-start space-x-2">

              <div class="flex divide-x divide-neutral-500 text-sm text-neutral-600 dark:divide-neutral-700">
                <div class="pr-2 text-neutral-800 dark:text-neutral-400">
                  {{ .Params.author }}
                </div>
                <!-- Versi untuk desktop -->
                <div class="hidden md:block">
                  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+07:00" }}
                  {{ $dateHuman := .Date | time.Format "Monday, 02 January 2006 - 03.04 PM" }}
                  <time class="pl-2" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>

                <!-- Versi untuk mobile -->
                <div class="block md:hidden">
                  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+07:00" }}
                  {{ $dateHuman := .Date | time.Format ":date_long" }}
                  <time class="pl-2" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>

              </div>
            </div>
          </div>
        </div>
        {{ end }}
        {{ else }}
        <p>Tidak ada berita lain.</p>
        {{ end }}
      </div>
    </div>
    <div
      class="w-full md:w-[30%] h-fit md:h-[800px] overflow-style overflow-y-auto  overscroll-auto  py-4 md:py-0 sm:ml-1 md:ml-0 pl-4">
      <h3 class="text-neutral-400 dark:text-neutral-500 text-2xl font-medium border-l border-yellow-500 pl-2">
        Promotions
      </h3>
      <div class="space-y-4 p-2">
        <!-- Ambil semua item dari berbagai kategori (hotdrink, cooldrink, food) yang memiliki discount -->
        {{ $hotdrinks := where (where .Site.RegularPages "Params.categories" "intersect" (slice "hotdrink" "cooldrink"
        "food")) "Params.discount" "ne" "" }}

        {{ if $hotdrinks }}

        {{ range $hotdrinks }}
        <div
          class="flex flex-col gap-2 w-full h-fit items-start justify-start p-2 rounded backdrop-blur-md odd:bg-white/20 even:odd:bg-white/30 dark:odd:bg-neutral-800/20 dark:even:bg-neutral-800/30">
          <a href="{{ .RelPermalink }}" class="w-full h-[200px] md:h-[160px] lg:h-[140px] bg-cover relative">
            <!-- Menampilkan gambar jika ada -->
            {{ if .Params.images }}
            {{ with index .Params.images 0 }}
            <img src="{{ . }}" alt="img-{{ $.Title }}" class="h-full w-full  rounded object-cover" />
            {{ else }}
            <img src="/images/default.jpg" alt="Gambar Default" class="h-full w-full  rounded object-cover" />
            {{ end }}
            {{ else }}
            <img src="/images/default.jpg" alt="Gambar Default" class="h-full w-full  rounded object-cover" />
            {{ end }}

            <!-- Badge discount di pojok kanan atas -->
            <div class="absolute -top-3 -right-1 flex items-center justify-center text-red-700">
              <svg class="relative" xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M5 21V5q0-.825.588-1.412T7 3h10q.825 0 1.413.588T19 5v16l-7-3z" />
              </svg>
              <h2
                class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform text-sm font-black text-white">
                {{ .Params.discount }}
              </h2>
            </div>
          </a>


          <div class="w-full lg:w-[60%] h-fit ">
            <a href="{{ .RelPermalink }}"
              class="text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 dark:hover:text-neutral-200">
              <h4 class="font-semibold w-full">{{ .Title }}</h4>
            </a>
            <p class="text-neutral-800 dark:text-neutral-400">
              Price: {{ .Params.price }}
            </p>

          </div>
        </div>
        {{ end }}
        {{ else }}
        <p>Tidak ada produk dengan diskon saat ini.</p>
        {{ end }}
      </div>
    </div>


  </div>


  {{ end }}
  {{ end }}


</div>
{{ end }}