{{ define "main" }}

<div class="mx-auto">
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
          alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="" />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="" />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="" />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="" />
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="relative mb-4 hidden h-full w-full overflow-hidden">
    <h1 class="mb-4 text-center text-4xl font-bold">{{ .Title }}</h1>

    <section
      class="divide-xai-200 dark:divide-xai-800 dark:odd:bg-xai-700/10 dark:even:bg-xai-700/5 relative left-1/2 flex w-[80%] -translate-x-1/2 divide-x rounded-xl backdrop-blur-md odd:bg-white/10 even:bg-white/20">
      <div class="w-[40%] space-y-2 px-6 py-4">
        <div class="flex space-x-2">
          <div>
            <span class="material-symbols-rounded p-1">location_on</span>
          </div>
          <div>
            <h1 class="mb-2 text-xl font-bold">HEAD OFFICE</h1>
            <p>
              Jl. Jombang-Babat N0. XXX<br />
              Lamongan 62273<br />
              Jawa Timur<br />
              Indonesia<br />
            </p>
          </div>
        </div>
        <div class="flex space-x-2">
          <div>
            <span class="material-symbols-rounded p-1">phone_in_talk</span>
          </div>
          <div>
            <h1 class="mb-2 text-xl font-bold">PHONE</h1>
            <p>+62-XX-XXX XXX 17<br /></p>
          </div>
        </div>
        <div class="flex space-x-2">
          <div><span class="material-symbols-rounded p-1">schedule</span></div>
          <div>
            <h1 class="mb-2 text-xl font-bold">OPEN HOURS</h1>
            <p>Monday — Friday: 8 am — 5 pm<br /></p>
          </div>
        </div>
        <div class="flex space-x-2">
          <div>
            <span class="material-symbols-rounded p-1">location_on</span>
          </div>
          <div>
            <h1 class="mb-2 text-xl font-bold">R&D OFFICE</h1>
            <p>
              Jl. Jombang-Babat N0. ZZZ<br />
              Lamongan 62273<br />
              Jawa Timur<br />
              Indonesia<br />
            </p>
          </div>
        </div>
      </div>
      <!-- Formulir Kontak -->
      <form action="/contact" method="POST" class="flex-1 content-center justify-center space-y-4 p-8">
        <div>
          <label for="name" class="text-xai-700 block font-medium">Name:</label>
          <input type="text" id="name" name="name" placeholder="Your Name"
            class="placeholder:text-xai-400 placeholder:dark:text-xai-700/50 dark:bg-xai-800 dark:autofill:bg-xai-600 border-xai-300 dark:border-xai-700 focus:border-lightblue-500 focus:dark:border-lightblue-500 focus:ring-lightblue-500/20 mt-1 block w-full rounded-md border bg-white px-2 py-2 text-base shadow-sm outline-none focus:ring"
            required />
        </div>
        <div>
          <label for="email" class="text-xai-700 block font-medium">Email:</label>
          <input type="email" id="email" name="email" placeholder="example@email.com"
            class="placeholder:text-xai-400 placeholder:dark:text-xai-700/50 dark:autofill:bg-xai-600 dark:bg-xai-800 border-xai-300 dark:border-xai-700 focus:border-lightblue-500 focus:dark:border-lightblue-500 focus:ring-lightblue-500/20 mt-1 block w-full rounded-md border bg-white px-2 py-2 text-base shadow-sm outline-none focus:ring"
            required />
        </div>
        <div>
          <label for="message" class="text-xai-700 block font-medium">Message:</label>
          <textarea id="message" name="message" placeholder="Your Message"
            class="placeholder:text-xai-400 placeholder:dark:text-xai-700/50 dark:autofill:bg-xai-600 dark:bg-xai-800 border-xai-300 dark:border-xai-700 focus:border-lightblue-500 focus:dark:border-lightblue-500 focus:ring-lightblue-500/20 mt-1 block w-full rounded-md border bg-white px-2 py-1 text-base shadow-sm outline-none focus:ring"
            required></textarea>
        </div>
        <div>
          <button type="submit"
            class="bg-lightblue-600 hover:bg-lightblue-700 focus:ring-lightblue-500 inline-flex items-center rounded-md border border-transparent px-4 py-2 text-base font-medium text-white shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2">
            Send
          </button>
        </div>
      </form>
    </section>
  </div>
</div>

<!-- HTML untuk menambahkan view
<div class="view-options flex space-x-4 mb-4">
  <button class="view-button" data-view="grid">🔲 Grid</button>
  <button class="view-button" data-view="list">📋 List</button>
  <button class="view-button" data-view="details">📄 Details</button>
</div>

<div id="view-container" class="grid grid-cols-2 gap-4">
  <div class="view-item bg-gray-200 p-4 rounded-md">
    <img src="/images/img2.png" alt="Item 1" class="w-full h-auto">
    <h3 class="text-lg font-semibold mt-2">Item 1</h3>
    <p class="text-sm text-gray-600">Short description of item 1.</p>
  </div>
  <div class="view-item bg-gray-200 p-4 rounded-md">
    <img src="/images/img1.png" alt="Item 2" class="w-full h-auto">
    <h3 class="text-lg font-semibold mt-2">Item 2</h3>
    <p class="text-sm text-gray-600">Short description of item 2.</p>
  </div>
</div>-->

{{ end }}